.breadcrumbs {
  display: flex;
  align-items: flex-end;
  margin: 40px 0;

  &__item {
	text-transform: uppercase;

	a {
	  font-family: $--font-lato-regular;
	  font-size: 10px;
	  color: $--color-gray-light;
	  margin-right: 10px;

	  &:hover {
		color: $--color-gray-medium;
	  }

	  &:active {
		color: $--color-gray-dark;
	  }
	}

	span {
	  font-family: $--font-oranien-baum-regular;
	  font-size: 18px;
	  color: $--color-main;
	}
  }
}
