.footer {
  padding: 35px 0 0;
  background: url('#{$imagePath}footer-bg.jpg');
  margin-top: 50px;

  &__logo {
	margin: 20px 0;
  }

  .social-links {
	justify-content: center;
	margin: 15px 0 30px;

	a {
	  color: $--color-gray;

	  .fa {
		margin-left: 0;
	  }

	  &:hover {
		color: $--color-main;
	  }
	}
  }

  .contacts__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
  }

  .contacts {
	display: flex;
	justify-content: center;

	&__inner {
	  width: 140px;
	  display: flex;
	  flex-direction: column;
	  align-items: flex-start;
	}

	&__item {
	  display: flex;
	  margin: 2px 0;
	  align-items: center;
	  color: $--color-main;

	  .fa {
		width: 10px;
		margin-right: 10px;

		&-phone {
		  font-size: 13px;
		}

		&-envelope {
		  font-size: 13px;
		}
	  }
	}
  }

  .navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.item {
	  display: flex;
	  width: 100%;
	  justify-content: center;
	  color: $--color-white;
	  font-family: $--font-lato-regular;
	  letter-spacing: 2px;
	  font-size: 12px;
	  text-decoration: none;

	  &:hover {
		color: $--color-main;
	  }
	}
  }

  form {
	.btn[type="submit"] {
	  background: none;
	  color: $--color-white;
	  font-family: $--font-lato-regular;
	  font-size: 12px;
	  text-transform: uppercase;
	  padding: 0;
	  letter-spacing: 2px;

	  .fa {
		//margin-left: 10px;
	  }

	  &:hover {
		color: $--color-main;
	  }
	}
  }

  &__top {
	padding-bottom: 35px;
  }

  .error-content {
	color: $--color-red;
	font-family: $--font-lato-regular;
	letter-spacing: 2px;
	font-size: 12px;
	text-transform: uppercase;
  }

  &__bottom {
	padding: 20px 0;
	background: #4d565c;
	color: #7c868b;
	font-family: $--font-lato-regular;
	font-size: 10px;
	text-transform: uppercase;

	&-copyright {
	  font-family: $--font-lato-regular;
	  text-align: center;
	  letter-spacing: 2px;
	}

	a {
	  text-decoration: underline;
	  color: #7c868b;
	  font-size: 10px;

	  &:hover {
		color: $--color-main;
	  }
	}
  }

  @media (min-width: $--breakpoin-md) {
	padding: 75px 0 0;

	&__top {
	  padding-bottom: 90px;
	}

	&__logo {
	  margin: 0;
	}

	.social-links {
	  margin: 15px 0;
	}

	&__bottom {
	  &-copyright {
		text-align: left;

		&:last-child {
		  text-align: right;
		}
	  }
	}
  }
}