.modal {
  &-header {
	padding: 30px 20px;
	border-bottom: none;
  }

  &-title {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	font-family: $--font-oranien-baum-regular;
	text-transform: uppercase;
	font-size: 26px;
  }

  &-body {
	padding: 20px 50px;
  }
}