@import "btn";
@import "main-nav";
@import "main-slider";
@import "left-nav";
@import "service-card";
@import "working-steps";
@import "footer";
@import "breadcrumbs";
@import "reviews";
@import "contacts";
@import "projects";
@import "modal";
@import "services";

html {
  font-family: $--font-oranien-baum-regular;
}

html,
body {
  height: 100%;
}

.close-button {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &-line {
	position: relative;
	top: 10px;
	width: 20px;
	height: 1px;
	background: $--color-text-primary;

	&:first-child {
	  transform: rotate(-45deg);
	}

	&:last-child {
	  transform: rotate(45deg);
	}
  }

  &:hover {
	&-line {
	  background: $--color-main;
	}
  }

  &_light {
	.close-button-line {
	  background: $--color-main;
	}

	&:hover {
	  .close-button-line {
		background: $--color-text-primary;
	  }
	}
  }
}

.file {
  display: flex;
  align-items: flex-start;
  text-decoration: underline;
  color: $--color-text-primary;

  .fa {
	font-size: 14px;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0;
	border-bottom: 1px solid transparent;
  }
}

.p-page {
  height: 100%;

  &__not-found {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $--color-white;

	&-inner {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}

	h1 {
	  font-family: $--font-oranien-baum-regular;
	  font-size: 60px;

	}

	h3 {
	  font-family: $--font-lato-regular;
	  font-size: 10px;
	  color: $--color-gray-light;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	}

	a {
	  margin-top: 50px;
	  color: $--color-gray-light;
	  text-decoration: underline;
	  letter-spacing: 2px;
	}
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.page-title {
  font-family: $--font-oranien-baum-regular;
  font-size: 50px;
  color: $--color-text-primary;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1;
}

.page-description {
  font-family: $--font-lato-regular;
  font-size: 10px;
  color: $--color-text-primary;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.page-content {
  margin: 50px 0;

  p {
	font-size: 18px;
  }
}

.page-block {
  padding: 35px 0;
}

.background-color {
  &_gray {
	background: #e9e9e9;
  }
}

.margin {
  &_top {
	margin-top: 20px;

	&_big {
	  margin-top: 50px;
	}
  }
}

.p-main {
  margin-top: 0;
  transition: margin-top .3s ease-out;
}

a {
  text-transform: uppercase;
  font-family: $--font-lato-regular;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1.4;

  .fa {
	margin-top: 3px;
	font-size: 10px;
	margin-left: 20px;
  }

  &.icon {
	&_left {
	  .fa {
		margin-left: 0;
		margin-right: 10px;
	  }
	}
  }

  &:hover {
	text-decoration: none;

	color: $--color-text-primary;
  }

  &.dark {
	color: $--color-text-primary;

	&:hover {
	  color: $--color-main;
	}
  }
}

form {
  .btn[type="submit"] {
	background: none;
	color: $--color-white;
	font-family: $--font-lato-regular;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0;
	letter-spacing: 2px;

	.fa {
	  margin-left: 20px;
	}
  }

  .btn_dark[type="submit"] {
	color: $--color-text-primary;

	&:hover {
	  color: $--color-main;
	}
  }
}

@media (min-width: $--breakpoin-md) {
  .p-page {
	&__not-found {
	  h1 {
		font-size: 100px;
	  }

	  h3 {
		font-size: 16px;
	  }

	  a {
		font-size: 16px;
	  }
	}
  }

  .page-block {
	padding: 70px 0;
  }

  .page-title {
	text-align: left;
  }

  .page-description {
	text-align: left;
	font-size: 8px;
  }

  .p-main {
	margin-top: 80px;

	&_main-page {
	  margin-top: 96px;
	}
  }
}

@media (min-width: $--breakpoin-lg) {
  .p-main {
	&_main-page {
	  //margin-top: 108px;
	}
  }

  .page-description {
	font-size: 10px;
  }
}