.working-steps {
  margin-top: 40px;

  .step {
	display: flex;
	align-items: center;
	position: relative;
	margin: 20px 0;

	&:before {
	  display: none;
	  position: absolute;
	  left: -30px;
	  content: '';
	  width: 55px;
	  height: 13px;
	  background: url('#{$imagePath}step-arrow.png');
	}

	&_hide-arrow {
	  &:before {
		display: none;
	  }
	}

	&__title {
	  font-family: $--font-lato-regular;
	  font-size: 10px;
	  color: $--color-text-primary;
	  text-transform: uppercase;
	  margin-left: 10px;
	  letter-spacing: 3px;
	}
  }

  a {
	display: flex;
	margin-top: 60px;
	justify-content: flex-end;
	align-items: center;
	text-transform: uppercase;
	font-family: $--font-lato-regular;
	font-size: 12px;
	letter-spacing: 2px;

	.fa {
	  margin-left: 20px;
	}

	&.working-steps__link {
	  justify-content: center;
	}
  }

  &_page {
	margin-top: 0;
	margin-bottom: 40px;

	.step {
	  flex-direction: column;
	  align-items: flex-start;

	  &:before {
		display: none;
	  }

	  &__inner {
		display: flex;
		align-items: center;
	  }

	  &__description {
		margin-top: 20px;
	  }
	}
  }

  @media (min-width: $--breakpoin-md) {
	margin-top: 80px;

	.step {
	  margin: 0 0 20px 0;

	  &:before {
		display: block;
	  }

	  &_hide-arrow {
		&:before {
		  display: none;
		}
	  }
	}

	a {
	  &.working-steps__link {
		justify-content: flex-end;
	  }
	}

	&_page {
	  margin-top: 0;
	  margin-bottom: 40px;

	  .step {
		align-items: flex-end;

		&__title {
		  width: 120px;
		}

		&:before {
		  display: none;
		}
	  }

	  .working-step {
		&:nth-child(odd) {
		  .working-step__inner {
			position: relative;

			&:after {
			  content: '';
			  position: absolute;
			  top: 0;
			  right: 0;
			  width: 1px;
			  height: 100%;
			  background: #000;
			}
		  }

		  .step {
			margin-right: 40px;

			&__count {
			  order: 1;
			  margin-left: 10px;
			}

			&__title {
			  order: 0;
			  text-align: right;
			}

			&__description {
			  text-align: right;
			}
		  }
		}

		&:nth-child(even) {
		  .working-step__inner {
			position: relative;

			&:before {
			  content: '';
			  position: absolute;
			  top: 0;
			  left: -1px;
			  width: 1px;
			  height: 100%;
			  background: #000;
			}
		  }

		  .step {
			margin-left: 40px;
			align-items: flex-start;
		  }
		}
	  }
	}
  }

  @media (min-width: $--breakpoin-lg) {

  }
}
