@charset "UTF-8";

/* MAIN - выходной файл, в котором объединяются все стили. */

/* UTILS - глобальные миксины, функции, вспомогательные селекторы и т.д.
========================================================================== */
@import 'utils/module';

/* VENDOR - стили, миксины и прочее от третьих сторон
========================================================================== */
@import 'vendor/module';

@import 'globals';

@import 'blocks/module';

/* PAGES - содержит стили, специфичные для отдельных страниц, если это необходимо.
========================================================================== */
@import 'pages/module';