html,
body {
  height: 100%;
}

.p-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.g-header {
  flex: 0 1 137px;

  background: url('#{$imagePath}/header-bg.png') no-repeat right top;

  background-size: 120% 20px;

  &__logo {
	display: flex;
	align-items: center;
	height: 137px;

	img {
	  max-width: 100%;
	  height: auto;
	}
  }

  @media only screen and (min-width: 62em) {
	background-size: auto;
	background-position-x: 220%;
  }

  @media only screen and (min-width: 75em) {
	background-position-x: 100%;
  }
}

.g-main {
  display: flex;
  flex: 1 1 auto;
  min-height: 300px;

  .wrapper {
	display: flex;
	height: inherit;
	flex: 1 1 auto;

	.row {
	  height: inherit;
	  flex: 1 1 auto;
	}
  }

  &__text-block {
	display: flex;
	height: 390px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }

  h1 {
	font-family: $--font-russo-one;
	font-size: 20px;
	color: $--color-red;
	letter-spacing: 0.6px;
	margin-bottom: 0;
  }

  h3 {
	font-family: $--font-brutal-type-regular;
	font-size: 16px;
	color: #1c1c1c;
  }

  .links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 15px;
  }

  .link {
	display: flex;
	margin-bottom: 5px;

	i {
	  margin-right: 5px;
	  font-size: 14px;
	  color: $--color-red;
	}
  }

  a {
	display: inline-block;
	font-family: $--font-brutal-type-regular;
	font-size: 12px;
	color: $--color-red;
  }

  @media only screen and (min-width: 62em) {
	background: url('#{$imagePath}/main-bg.png') no-repeat right;
  }
}

.g-footer {
  position: relative;
  flex: 1 0 auto;
  padding-bottom: 10px;
  display: flex;
  overflow: hidden;
  font-family: $--font-brutal-type-regular;
  color: #fff;
  font-size: 14px;
  text-decoration: none;

  background: #878787;

  a {
	color: #fff;
	font-family: $--font-brutal-type-regular;
	font-size: 14px;
	text-decoration: none;
  }

  img {
	opacity: 0;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background: #fff;
	height: 100%;
	width: 1250px;
  }

  .left {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: inherit;
	background: $--color-red;
  }

  .right {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: inherit;
	background: #878787;
  }

  .wrapper {
	width: 100%;
	position: relative;
	z-index: 1;

	.row {
	  height: 100%;
	}
  }

  h2 {
	color: $--color-white;
	font-family: $--font-russo-one;
	font-size: 16px;
  }

  .phone {
	margin-bottom: 3px;
  }

  .address {
	margin-bottom: 3px;
  }

  .phones {
	margin-top: 5px;
  }
  .addresses {
	margin-top: 5px;
  }

  @media only screen and (min-width: 62em) {
	height: 95px;
	flex: 0 1 95px;
	color: #1c1c1c;
	padding-bottom: 0;
	background: #fff;

	img {
	  opacity: 1;
	}
	
	a {
	  color: #1c1c1c;
	}

	.addresses {
	  text-align: right;
	  margin-top: 0;
	}

	.phones {
	  margin-top: 0;
	}
  }
  @media only screen and (min-width: 75em) {
	img {
	  width: 1500px;
	}
  }
}