@font-face {
  font-family: 'RaleWaySemibold';

  src: url('#{$fontPath}/RaleWay/semibold/semibold.eot');
  src: url('#{$fontPath}/RaleWay/semibold/semibold.woff2') format('woff2'),
  url('#{$fontPath}/RaleWay/semibold/semibold.woff') format('woff'),
  url('#{$fontPath}/RaleWay/semibold/semibold.ttf') format('truetype'),
  url('#{$fontPath}/RaleWay/semibold/semibold.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/RaleWay/semibold/semibold.svg#RaleWaySemibold') format('svg');
}

@font-face {
  font-family: 'OranienBaumRegular';

  src: url('#{$fontPath}/OranienBaum/regular/regular.eot');
  src: url('#{$fontPath}/OranienBaum/regular/regular.woff2') format('woff2'),
  url('#{$fontPath}/OranienBaum/regular/regular.woff') format('woff'),
  url('#{$fontPath}/OranienBaum/regular/regular.ttf') format('truetype'),
  url('#{$fontPath}/OranienBaum/regular/regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/OranienBaum/regular/regular.svg#OranienBaumRegular') format('svg');
}

@font-face {
  font-family: 'LatoRegular';

  src: url('#{$fontPath}/Lato/regular/regular.eot');
  src: url('#{$fontPath}/Lato/regular/regular.woff2') format('woff2'),
  url('#{$fontPath}/Lato/regular/regular.woff') format('woff'),
  url('#{$fontPath}/Lato/regular/regular.ttf') format('truetype'),
  url('#{$fontPath}/Lato/regular/regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/Lato/regular/regular.svg#LatoRegular') format('svg');
}