@font-face {
  font-family: 'BrutalTypeRegular';

  src: url('#{$fontPath}/brutal-type/regular/regular.eot');
  src: url('#{$fontPath}/brutal-type/regular/regular.woff2') format('woff2'),
  url('#{$fontPath}/brutal-type/regular/regular.woff') format('woff'),
  url('#{$fontPath}/brutal-type/regular/regular.ttf') format('truetype'),
  url('#{$fontPath}/brutal-type/regular/regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/brutal-type/regular/regular.svg#RaleWaySemibold') format('svg');
}

@font-face {
  font-family: 'RussoOne';

  src: url('#{$fontPath}/russo-one/russo-one.eot');
  src: url('#{$fontPath}/russo-one/russo-one.woff2') format('woff2'),
  url('#{$fontPath}/russo-one/russo-one.woff') format('woff'),
  url('#{$fontPath}/russo-one/russo-one.ttf') format('truetype'),
  url('#{$fontPath}/russo-one/russo-one.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}/russo-one/russo-one.svg#OranienBaumRegular') format('svg');
}
