$fontPath: '/dist/fonts';
$imagePath: '/dist/images/';

/* *** FONTS *** */

$--font-oranien-baum-regular: 'OranienBaumRegular';
$--font-rale-way-semibold: 'RaleWaySemibold';
$--font-lato-regular: 'LatoRegular';

/* *** COLORS *** */
$--color-white: #fff;
$--color-black: #000;
$--color-main: #997034;
$--color-gray: #696b6c;
$--color-text-primary: #30373b;

$--breakpoin-sm: 576px;
$--breakpoin-md: 768px;
$--breakpoin-lg: 992px;
$--breakpoin-xl: 1200px;
