$fontPath: '/dist/fonts';
$imagePath: '/dist/images/';

/* *** FONTS *** */

$--font-oranien-baum-regular: 'OranienBaumRegular';
$--font-rale-way-semibold: 'RaleWaySemibold';
$--font-lato-regular: 'LatoRegular';

/* *** COLORS *** */
$--color-white: #fff;
$--color-black: #000;
$--color-main: #997034;
$--color-gray: #696b6c;
$--color-text-primary: #30373b;
$--color-red: #cc0000;
$--color-gray-light: #bcbbbc;
$--color-gray-medium: #364b55;
$--color-gray-dark: #2a3c45;

$--breakpoin-sm: 576px;
$--breakpoin-md: 768px;
$--breakpoin-lg: 992px;
$--breakpoin-xl: 1200px;
